<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<style>
/***** add style to username and passsword **********/

</style>
<body>

    <form id="form" action="#" method='POST' >
        {% csrf_token %}
        <label for="username">username:</label>
             {{ form.username }}
        <label for="passsword">password:</label>
            {{ form.password }}
        <button type="submit" class="btn btn-success">register</button>

    </form>
</body>

</html>
